sphinx-click==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
sphinx==7.2.6 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.7 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.5 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.4 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.6 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.9 ; python_version >= "3.11" and python_version < "4.0"
myst-parser==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
